<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
           </div>
                <div class="content">
                    <div class="card">
                        <!-- title -->
                        <h1>{{ p[1] }}</h1>
                        <!-- sub title -->
                        <h2>{{ p[2] }}</h2>
                        <!-- post -->
                        <p class="text">{{ p[3] }}</p>
                    </div>
                </div>
</div>
</body>
<footer>
    <p>Made with ♥️ in London.</p>
</footer>
</html>